* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
 --darkgreen: #1E2B27;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 1;
    padding: 0;
}
#ad{
    display: flex;
    background-color: rgba(203, 209, 207, 0.096);
    box-shadow:  0 1px 8px rgba(0, 0, 0, 0.925);
    width: 80%;
    height: 600px;
    margin-left: 50%;
    border-radius: 20px 20px;
    transform: translateX(-50%);
    margin-top: 50px;
    overflow: hidden;
    perspective: 1000px;
}
#ad_banner{
    /* background-color: rgb(182, 194, 189); */
    position: relative;
    /* left: 100%; */
    display: flex;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    transition: all 1.5s ease;
}
.ad_btns{
    position:absolute;
    display:flex;
    top:50%;
    transform: translateY(-50%);
    justify-content:space-between;
    width: 100%;
    background-color: #0303030c;
    padding: 100% 1%;
    z-index:11;

}
#left_btn{
    transform: rotate(180deg) ;
}

#right_btn:hover, #left_btn:hover{
    cursor: pointer;
    transition: all 0.5s ease;
    text-shadow: #030303 0px 0px 8px 20px;
    scale: 1.2;
}

