#details_container{
    display: flex;
    justify-content: center;
    margin: 5% 18%;
    box-shadow: #22191983 6px 6px 0px;
    /* padding:2%; */
    padding-right:2%;
    border-radius: 20px;
    width: 60%;
    height: 500px;
    transition: all 0.3s ease;
    overflow: hidden;
    #image{
        width: 50%;
                max-height: 500px;

        flex-shrink: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
        transition: all 0.5s ease-in-out;
        object-fit: cover;
        cursor: pointer;
    }
    #image:hover{
        transform: scale(1.05);
    }
    .details{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-left:30px;
        
           #counter_btn {
            display: flex;
            justify-content: space-around;
            width: fit-content;
            align-items: center;
            gap: 10px; 
            background-color: transparent;
            border-radius: 30px;
            border: 2px solid var(--darkgreen);
            padding: 2px ;
            color: white;
            box-shadow: 0px 0px 2px orange;
            width: 120px;
            min-width: 80px;
            color: var(--darkgreen);
            }
            .increment_btn , .decrement_btn{
                background-color: transparent;
                color: var(--darkgreen);
                border: none;
                font-weight: bolder;
                font-size: 18px;
                cursor: pointer;
            }

        .btndiv{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2%;
            }
         .card_btn{
            width: 50%;
            position: relative;
            border: 1px solid var(--darkgreen);
            padding: 3px;
            border-radius: 15px;
            font-size: 15px;
            cursor: pointer;
            font-weight: bold;
            color: var(--darkgreen);
        }
        
        .card_btn::before{
            content: "";            
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: var(--darkgreen);
            border-radius: 15px;
            transition: all .3s ease;
            z-index: -1;
        }
        .card_btn:hover::before{
            width: 100%;
        }
         .card_btn:hover{
          z-index: 1111;
          transition: all .3s ease;
          color: #ffffff;
        }

        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
    }
}
#details_container:hover{
    box-shadow: #221919c4 2px 2px 0px;
    transform: translate3d(6px , 6px ,0 );

}
