:root{
 --darkgreen: #1E2B27;
 --orange: #E57400;
 --purple:#6952A2;
 --lightgreen:#D0E3D5;
}
.bar{
    display:  flex;
    gap: 80px;
    justify-content: center;
    color:var(--darkgreen);
    border-radius: 15px;
    font-size: larger;
}
.p1,.p2,.p3{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}
.cards{
display: flex;
}
.card1 ,.card2{
    display: flex;
    flex-direction: column;
    overflow:hidden;
    max-height:375px;
    margin:30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
    overflow-y:auto;
}
.card2{
    max-height:150px;
}
.card3{
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
}
.uline{
    border-top: 2px solid var(--darkgreen);
    width: 100%;
    margin: auto;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    input{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    select{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    .paybtn{
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: var(--darkgreen);
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }
}
.order_confirm_container{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    /* transform: translateX(-50%); */
    top: 0;
    /* padding: 2%; */
    background-color: #ffffff54;
    width: 100%;
    height: 100%;
    z-index: 1111;
    .order_confirm{
        background-color:white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        h2{
            color: var(--darkgreen);
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            margin-bottom: 30px;
        }
        .continue_shopping{
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            background-color: var(--darkgreen);
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
        }
    }
}