table{
 border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.06);
    border-radius: 12px;
    overflow: hidden;
thead th {
    background: #f7f7f7;
    color: #1E2B27;
    font-weight: 600;
    padding: 16px 12px;
    text-align: left;
    white-space: nowrap;
}
tbody td {
    padding: 14px 12px;
    border-top: 1px solid #a81414;
    font-size: 15px;
    color: #070707;
    max-width:250px;
}


tr:hover td {
    background: #f0f8f4;
    transition: all 0.2s;
}
}
#product-search , #role-filter , #search{
    margin:10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 190px;
    position:relative;
    right:0px;
}
.edit_card{
   display: flex; 
   display: none;
    top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.342);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 111;
    .sections{
       box-shadow: #070707 0px 0px 5px;
    }
    h3{
        margin-bottom:-20px;
        margin-top:10px;
    }
}
.edit_form{
    /* display: none; */
    width:500px;
    padding: 40px;
    margin-right: -70px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    gap: 15px;
} 
#sections{
        background-color:rgb(255, 253, 253);
    }