table{
 border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.06);
    border-radius: 12px;
    overflow: hidden;
thead th {
    background: #750d0d;
    color: #1E2B27;
    font-weight: 600;
    padding: 16px 12px;
    text-align: left;
    white-space: nowrap;
}
tbody td {
    padding: 14px 12px;
    border-top: 1px solid #eee;
    font-size: 15px;
    color: #070707;
    max-width:250px;
}


tr:hover td {
    background: #f0f8f4;
    transition: all 0.2s;
}
}

.edit_card{
    display: none;
    top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: rgb(192, 182, 182); */
    position: fixed;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 111;
}
.edit_form{
    /* display: none; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
   
} 
#sections{
        background-color: beige;
}