* { box-sizing: border-box; }

body {
    color: black;
    background: #ffffff;
}
:root{
 --darkgreen: #1E2B27;
 --orange: #E57400;
 --purple:#6952A2;
 --lightgreen:#D0E3D5;
}
nav {
    display: flex;
    align-items: center;
    padding: 12px 48px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.page-wrap {
    width: 100%; 
    margin: 40px auto;
    display: flex;
    align-items: center;
    
    justify-content:center;
}

.left-form {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; 
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

label {
    font-size: 14px;
}

.govt-price-note {
    color: red;
    margin-bottom: 6px;
}

input, select, textarea {
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    max-width: 80%; 
}

textarea {
    height: 80px; 
    resize: none;
}

.image-box {
    width: 350px; 
    height: 228px;
    border: 2px dashed #ccc;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-wrap {
    grid-column: -1 ;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.submit-btn {
    padding: 6px 20px; 
    background: #0a7c2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.preview {
    width: 420px; 
    background: #e6e6e6;
    border-radius: 10px;
    position: relative;
    min-height: 460px;
}

.preview .tag {
    position: absolute;
    top: 18%;
    left: 65%;
    transform: translateX(-50%);
    background: white;
    padding: 6px 28px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    font-size: 13px;
    text-align: center;
}

.top-left-box {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.tick-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}
#bar{
    display: block;
    position:relative;
    width :0%;
    max-width: 80%;
    border-radius: 15px;
    height:5px;
    background-color:var(--lightgreen);
    box-shadow: var(--darkgreen) 0px 0px 2px 0.1px;
    margin-top:5px;

}
/* #bar::before{
    content:"";
    position:absolute;
    width:10%;
    height:100%;
    border-radius:15px;
    background-color:var(--orange);
    margin: 1%;
    transition: all .5s ease;
} */